<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center login-title">Iniciar sesi칩n en OPTMant</h1>
            <div class="account-wall">
                <form class="form-signin " role="form">
                <input type="text" class="form-control" placeholder="Identificaci칩n" required autofocus>
                <input type="password" class="form-control" placeholder="Contrase침a" required>
                <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">
                    Iniciar sesi칩n</button>                              
                </form>
            </div>
        </div>
    </div>
</div>